<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Fashion</a></li>
				<li class="active">{{product.name}}</li>
			</ol>
		</div>
</div>
<div class="single">

<div class="container">
<div class="col-md-9">
	<div class="col-md-5 grid">		
		<div class="flexslider">
			  <ul class="slides">
			        <div class="thumb-image"> <img src="/images/{{product.image}}.png" data-imagezoom="true" class="img-responsive"> </div>
			  </ul>
		</div>
	</div>	
<div class="col-md-7 single-top-in">
						<div class="single-para simpleCart_shelfItem">
							<h2>{{product.name}}</h2>
							<p>{{product.description}}</p>
							<div class="star-on">
								<ul>
									<li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
									<li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
									<li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
									<li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
									<li><a href="#"><i class="glyphicon glyphicon-star"> </i></a></li>
								</ul>
								<div class="review">
									<a href="#"> 3 Đánh giá	 </a>
								</div>
							<div class="clearfix"> </div>
							</div>
							
								<label  class="add-to item_price">{{product.price}} VNĐ</label>
							
							<div class="available">
								<ul>
									
								<li>Size:<select>
									<option>XXL</option>
									<option>XL</option>
									<option>M</option>
									<option>S</option>
								</select></li>


							</ul>
						</div>
								<a href="#" class="cart item_add">Đặ hàng</a>
						</div>
					</div>
			<div class="clearfix"> </div>
			
			</div>		
</div>
